@media (max-width:375px){
    body{
        background-color: papayawhip;
    }
    div.card{
     width: 300px;
     border: .5px solid var(--Black);
     box-shadow: 10px 10px var(--Black);
    }
    p{
        line-height: 1.3;
    }
}