* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
}
body {
  background-color: var(--Yellow);
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    /* font-family: "Jolly Lodger", system-ui; */
}
a {
  color: var(--Black);
  text-decoration: none;
}
.card {
  width: 360px;
  /* height: 500px; */
  padding: 15px;
  border-radius: 10px;
  background-color: var(--White);
  border: 1px solid var(--Black);
}
.card:hover {
  box-shadow: 10px 10px var(--Black);
  transition: 0.3s;
}
img {
  width: 100%;
  border-radius: 10px;
  /* margin-bottom: 10px; */
}
div.date {
  margin: 10px 0 10px 0;
  font-size: 16px;
}
div.button {
  padding: 5px;
  margin: 10px 10px 10px 1px;
  width: 80px;
  border-radius: 3px;
  background-color: var(--Yellow);
}
H2 {
  color: var(--Yellow);
  margin: 10px 0 10px 0;
}
p {
  color: var(--Grey);
  margin: 10px 0 10px 0;
  line-height: 1.7;
}
div.autor {
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
  font-size: 12px;
}
div.autor > img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

